* {
    font-family: 'Inter', sans-serif;
    
}

body {
    background-color: #f8f8f8;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
}

header nav a {
    text-decoration: none;
    box-sizing: border-box;
    padding: 20px;
}

.cabecalho-img {
    width: 100vw; 
    height: 40vh;
}

.titulo {
    font-size: 2rem;
    text-align: center;
}

.paragrafo {
    font-size: 1.5rem;
    font-style: italic;
    text-align: justify;
}

.paragrafo-principal {
    font-size: 1.6rem; 
    text-align: justify;
}

.paragrafo-principal img {
    text-align: center;
    margin: auto;
    display: block;
}

.lugares img {
    text-align: center;
    margin: auto;
    display: block;
}

footer {
    background-color: rgb(174, 243, 243);
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
