* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
}

header nav a {
    text-decoration: none;
    box-sizing: border-box;
    padding: 20px;
    color: black;
    cursor: pointer;
}

header nav a:hover {
    color: rgba(247, 85, 85, 0.86);
}

#home {
    background-color: rgba(247, 204, 210, 0.83);
}

.img-home {
    width: 100vw;
    height: 70vh;
}

.titulo {
    font-size: 2rem;
    text-align: center;
}

.paragrafo {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

.paragrafo-principal {
    font-size: 1.6rem; 
    text-align: justify;
}

.paragrafo-principal img {
    text-align: center;
    margin: auto;
    display: block;
}

.lugares img {
    text-align: center;
    margin: auto;
    display: block;
}

footer {
    background-color: rgb(246, 220, 188);
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
